<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <title>Test Backbone</title>
    <script src='bower_components/jquery/dist/jquery.js'></script>
    <script src='bower_components/underscore/underscore.js'></script>
    <script src='bower_components/backbone/backbone.js'></script>
    <script src='bower_components/backbone.localstorage/backbone.localstorage.js'></script>
    <link href='bower_components/bootstrap/dist/css/bootstrap.css' rel='stylesheet'>'</link>
    <script src='bower_components/bootstrap/dist/js/bootstrap.js'></script>
  </head>
  <body>
    <div class='container'>
      <div class='row'>
        <div class='col-xs-4'>
          <div id='todoapp'>
            <div id='header'>
              <span class='h3'>Todos</span>
              <div class='sets btn-group btn-group-sm pull-right'>
                <a class='set-all btn' href='#filter/all'>all</a>
                <a class='set-completed btn' href='#filter/completed'>completed</a>
                <a class='set-pending btn' href='#filter/pending'>pending</a>
                <a class='set-sort btn'>sort by title</a>
              </div>
            </div>
            <br>
            <input class='form-control' id='new-todo' placeholder='What needs to be done?'>
            <br>
            <ul class='list-group' id='todo-list'>
              <li class='list-group-item'>hoge</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <script id='item-template' type='text/template'>
      <div class='form-inline'>
        <a class='done btn btn-default btn-sm'>
          <% if(completed) { %>
          <div class='glyphicon glyphicon-ok'></div>
          <% } else { %>
          <div class='glyphicon glyphicon-unchecked'></div>
          <% } %>
        </a>
        <input class='edit form-control' value='<%- title %>'>
        <label class='title'><%- title %></label>
        <a class='destroy btn btn-default btn-sm pull-right'>
          <div class='glyphicon glyphicon-trash'></div>
        </a>
      </div>
    </script>
    <script src='js/app.js'></script>
  </body>
</html>
